# Catch all's
*.cmd
*.o
*.o.ur-safe

# Kernel ignore files/directories
kernel/.cache.mk
kernel/.tmp_versions/
kernel/Module.symvers
kernel/modules.order
kernel/nb.ko
kernel/nb.mod.c

# User ignore files
user/nanoBench
